.delete-btn {
  border-radius: 15px;
}
.delete-icon {
  color: black;
}
.delete-icon:hover {
  color: red;
}
.delete-btn:hover {
  border: 2px solid red;
}
.btn-update {
  border-radius: 5px;
}
.btn-update:hover {
  border-radius: 5px;
  color: white;
  background-color: black;
}
